div {
    background: yellow;
    max-width: 1200px;
    border: 2px dotted green;
}

span {
    color: red;
    border: 1px solid blue;
}

p {
    color: black;
    border: 1px solid black;
    max-width: 300px;
    font-size: 10px;
}